.example-container {
  height: 330px;
  overflow: auto;
}
.and{
  
  width: auto;
  
    overflow-y: scroll;
    
        height: 355px;
      
    
      scrollbar-width: auto !important;
 
}th ,td{
  font-size: 15px; white-space: nowrap;
}

table {
  width: auto;
 } .ak{
      position:fixed;
      margin-bottom: 25%;
      margin-left: 55%;
      border-color: brown;
    }.sjumbotron {
      border: solid 1px #dfe6e9;
      background-color: #e8eff8;
     /* padding: 17px 14px 17px 32px; */
     padding: 10px 14px 10px 32px;
  }