<br>
<div class="container">
    <div class="row">
        <div class="col-md-2">
    <h2>CHAT HISTORY</h2>
    </div>
    <div class="col-md-8">
        
    </div>
    <div class="col-md-2">
        <button mat-button mat-dialog-close class="btn btn-success" style="margin-left: 90%;" style="font-size: 7px;"><i class="fa fa-times" aria-hidden="true"></i></button> 

    </div>
    </div>
    <input type="search" class="form-control" id="datatable-search-input" placeholder="search">
   <br>
  
</div><div class="container">
  <div  class="semi-title" *ngFor="let data of dataa;let i = index " [attr.data-index]="i">
  <div class="row">

    <div class="col-md-10">
       <label for="receiverMobileNo" style="margin-left: 8px;margin-right:0px;font-size:15px;">{{data.mobileNo }}/</label>
       
     </div>

    <div class="col-md-2">
       <label for="createdTime"
        style="margin-left: 3px;margin-right: -194px;font-size:10px;">{{data.createdDate}}
       </label>
    </div>

  </div>
  <div class="row"> 
    <div class="col-md-10 smsMsg" >
      <span id="show-more{{i}}" style="display: none;font-size: 15px;
      margin-left: 8px;" > {{data.message.substring(0,85)}}...
        <span class="btn" style="color:blue; padding-left: 8px !important;" *ngIf='data.message?.length>120'>
        </span>
    </span>
    <span style="display:block;font-size: 15px;margin-left: 8px;" id="show-less{{i}}" > {{data.message}}
      <span class="btn" style="color:blue; padding-left: 8px !important;" *ngIf='data.message?.length>120'></span>
    </span>
    </div>  
    <!-- <div class="col-md-2 smsdate" style="margin-left: 0px;">{{data.createdDate | date :'EEE MMMM d, y h:mm a'}} </div> -->
  </div>
 
</div></div>